.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 12px 60px;
  font-size: 16px;
  border-radius: $button-border-radius;
  transition: .2s ease-in-out;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.btn-blue {
  background-color: $blue-color;
  color: #fff;
  &:hover{
    background-color: darken($blue-color, 6%);
    color: #fff;
  }
}

.btn-blue_outline {
  background-color: transparent;
  border: 1px solid $blue-color;
  color: $blue-color;
  &:hover {
    color: #fff;
    background-color: $blue-color;

  }
  &:active{
    background-color: darken($blue-color, 6%);
  }
}

.btn_exact {
  line-height: 1;
}

.btn-full{
  width: 100%;
  padding: 12px 0;
}

.btn-small{
  padding: 12px 30px;
}