.form-block{
  &.error{
    & input{
      border-color: $error-color;
      color: $error-color;
      outline: $error-color;
    }
    & small{
      display: block;
      font-size: 14px;
      color: $error-color;
    }
  }
}