.form__group{
  display: block;
  margin-bottom: 30px;

  & .checkbox-label{
    margin-right: 20px;
  }

  & label{
    font-size: 14px;
    color: $label-color;

  }
}

.input{
  box-shadow: none;
  display: block;
  position: relative;
  font-size: 16px;
  border-radius: $border-radius-roundness;
  padding: 12px 20px;
  color: $text-color;
  line-height: 1;
  border: 1px solid $border-color;
  &::placeholder{
    color: $muted-color;
    font-weight: 300;
  }

  &_full{
    width: 100%;
  }

  &_profile{
    background-color: $subcard-background-color;
  }
}
select.input{
  height: 45px;
}
.checkbox-label{
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 12px 0 12px 34px;
  vertical-align: baseline;
  font-size: 16px;
  color: $text-color !important;
  margin-bottom: 0;

  & input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: 1px solid $border-color;
      border-radius: $border-radius-roundness;
      transition: .2s ease-in-out;
      cursor: pointer;
    }

    &::after{
      display: block;
      position: absolute;
      top: 10px;
      left: 30px;
      opacity: 0;
      color: #fff;
      content: '\f00c';
      font-family: 'FontAwesome';
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: $border-radius-roundness;
      text-align: center;
      transition: .3s ease-in-out;
      cursor: pointer;
    }
  }

  & input[type="checkbox"]:checked::before{
    background-color: $blue-color;
  }
  & input[type="checkbox"]:checked::after{
    color: #fff;
    left: 0;
    opacity: 1;
  }
}

.select-input{
  position: relative;
  display: block;
  width: 100%;

  & select{
    appearance: none;
    width: 100%;
    cursor: pointer;
    padding-right: 35px;
  }
  &::after{
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    content: '\f078';
    pointer-events: none;
    color: $text-light-color;
  }
}

.form__title{
  font-size: 20px;
  font-weight: 700;
  color: $black2-color;
}