.card{
  background-color: #fff;
  display: block;
  box-shadow: 0 2px 24px 0 rgba(217, 217, 217, 0.17);
  border: 1px solid rgba(217, 217, 217, 0.40);

  margin-bottom: 35px;
  &:last-child{
    margin-bottom: 0;
  }
}

.card-body{
  padding: 40px;
  &_no-top{
    padding-top: 0;
  }
  &_bordered{
    border-bottom: 1px solid $border-color;
  }
  @include media-breakpoint-down(sm){
    padding: 15px;
  }
}

.card-footer{
  padding: 25px 40px;
}

.card-header{
  padding: 40px;

  &_border{
    border-bottom: 1px solid $border-color;
  }

  &_small-bottom{
    padding-bottom: 15px;
  }
}

.card__subcard{
  margin: 0 15px 15px;
  background-color: $subcard-background-color;
  padding: 25px;
  position: relative;
  border-radius: $border-radius-roundness;
  &_no-background{
    background-color: transparent;
  }
}

.card__subtitle{
  font-size: 16px;
  color: $black2-color;
  font-weight: 700;
  line-height: 19px;
}

.z-1{
  z-index: 1;
}
.z-0{
  z-index: 0;
}

[v-cloak]{
  display: none;
}

.breadcrumps{
  display: flex;
  justify-content: center;
  color: $text-light-color;
  font-size: 16px;
}

.breadcrump__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrump__item{
  display: inline-block;
  margin-right: 6px;
  &::after{
    display: inline-block;
    content: '/';
    margin-left: 6px;
  }

  &:last-child{
    &:after{
      display: none;
    }
  }
}

.breadcrump__link{
  color: $text-light-color;
  &:hover{
    color: $primary-color;
    text-decoration: none;
  }
}

.p-15{
  padding: 15px;
}

.w-30{
  width: 28%;
  margin-left: 1%;
  margin-right: 1%;
}

.w-60{
  margin-left: 1%;
  margin-right: 1%;
  width: 58%;
}

.w-100{
  width: 100%;
}

.w-33{
  margin-right: 1%;
  margin-left: 1%;
  width: 31%;
}


.danger-color{
  color: $error-color;
}

a.danger-color{
  color: $error-color;
  &:hover{
    color: $red-color;
  }
}