<template>
    <section class="section section__calculator pt-7">
        <div class="container form__container">
            <div class="row position-relative">
                <div class="col-12 col-lg-8 z-1">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="calculator__title">Калькулятор рассчета стоимости выполнения работы</h2>
                            <form action="" class="row m-0">
                                <input type="hidden" name="_token" :value="token">
                                <div class="col-sm-6 mb-3">
                                    <div class="form__group">
                                        <label for="type">Тип</label>
                                        <div class="select-input">
                                            <select name="type" id="type" class="form-control" v-model="type" placeholder="Тип работы">
                                                <option :value="worktype" v-for="worktype in wtypes">{{ worktype.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3" style="width: 50%">
                                    <div class="form__group">
                                        <label>Количество страниц</label>
                                        <div class="d-flex calculator__input-group">
                                            <div class="mr-1">
                                                <input type="text" placeholder="От" name="pages_from"
                                                       class="form-control mr-2" v-model.number="pagesAmount">
                                            </div>
                                            <div class="ml-1">
                                                <input type="text" class="form-control" name="pages_to"
                                                       placeholder="До">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form__group">
                                        <label for="subject">Предмет</label>
                                        <div class="select-input">
                                            <select name="subject" id="subject" class="form-control" v-model="selectedSubject" placeholder="Дисциплина">
                                                <option :value="subject" v-for="subject in subjects">{{ subject.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form__group">
                                        <label for="theme">Тема работы</label>
                                        <input type="text" id="theme" name="theme" placeholder="Точная тема работы"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form__group">
                                        <label for="deadline">Срок сдачи</label>
                                        <input type="text" id="deadline" name="theme" v-model.lazy="date"
                                               class="form-control datepicker" placeholder="Срок сдачи">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form__group">
                                        <label>Гарантия</label>
                                        <div class="question-mark">
                                            <span class="button">?</span>
                                            <div class="hidden__text">Добавление гарантии позволяет вам в течение 20 дней после окончательного принятия работы вернуть работу на доработку</div>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="guarantee_terms" name="guarantee_terms"
                                                   class="custom-control-input" v-model="isWarranty">
                                            <label for="guarantee_terms" class="custom-control-label">Стандарт</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form__group">
                                        <label for="original">Оригинальность</label>
                                        <input type="text" id="original" name="original" placeholder="65"
                                               class="form-control" v-model="original">
                                    </div>
                                    <!--<div class="mt-6">-->
                                        <!--<button type="submit" class="btn btn-primary">Рассчитать</button>-->
                                    <!--</div>-->
                                </div>
                                <div class="col-sm-6 mt-3 mt-sm-0">
                                    <div class="d-flex d-lg-none summary__inline align-items-center justify-content-center p-4 p-sm-0">
                                        <div class="summary__wrapper">
                                            <h2 class="summary__title">Итого</h2>
                                            <h3 class="summary__sum">1200 ₽</h3>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="d-lg-block d-none col-lg-4 z-1">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="summary__title">Итого</h2>
                            <h3 class="summary__sum">{{ sum }} ₽</h3>
                        </div>
                    </div>
                </div>

                <div class="calculator__image-container z-0 d-none d-lg-block">
                    <img src="/img/calculator illustration.svg">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data () {
            return {
                token: token.content,
                wtypes: [],
                type: null,
                pagesAmount: null,
                pagesX: 1,
                subjects: [],
                theme: '',
                isWarranty: false,
                original: null,
                selectedSubject: null,
                sum: 0,
                date: '',
                dateX: 1,
                workCost: 0,
                originalX: 1,
                warrantyX: 1,
                subjectX: 1
            }
        },
        props: ['_work_types', '_subjects'],
        methods: {
            recalculateSum () {
                console.log();
                this.sum = Math.round(this.workCost * this.pagesX * this.dateX * this.originalX * this.warrantyX * this.subjectX);
            }
        },
        watch: {
            type () {
                this.workCost = this.type.cost ? this.type.cost : 0;
                this.recalculateSum();
            },
            pagesAmount (amount) {
                if (amount < 11) this.pagesX = 1;
                if (amount > 10 && amount < 21) this.pagesX = 1.2;
                if (amount > 20 && amount < 31) this.pagesX = 1.4;
                if (amount > 30 && amount < 41) this.pagesX = 1.6;
                if (amount > 40 && amount < 51) this.pagesX = 1.8;
                if (amount > 50 && amount < 61) this.pagesX = 2;
                if (amount > 60 && amount < 71) this.pagesX = 2.2;
                if (amount > 70 && amount < 81) this.pagesX = 2.4;
                if (amount > 80 && amount < 91) this.pagesX = 2.6;
                if (amount > 90 && amount < 101) this.pagesX = 2.8;
                if (amount > 100) this.pagesX = 3;
                this.recalculateSum();
            },
            date (date) {
                let diff = moment(date, 'DD/MM/YYYY').diff(Date.now(), 'days');

                if (diff < 3) this.dateX = 1.3;
                if (diff < 5 && diff >= 3) this.dateX = 1.2;
                if (diff < 7 && diff >= 5) this.dateX = 1.1;
                if (diff >= 7) this.dateX = 1;

                this.recalculateSum();
            },
            original (val) {
                if (val <= 1) this.originalX = 1;
                if (val > 1 && val <= 30) this.originalX = 1.1;
                if (val > 30 && val <= 40) this.originalX = 1.2;
                if (val > 40 && val <= 50) this.originalX = 1.3;
                if (val > 50 && val <= 60) this.originalX = 1.4;
                if (val > 60 && val <= 70) this.originalX = 1.5;
                if (val > 70 && val <= 80) this.originalX = 1.6;
                if (val > 80 && val <= 90) this.originalX = 1.7;
                if (val > 90) this.originalX = 10;
                this.recalculateSum();
            },
            isWarranty () {
                this.isWarranty ? this.warrantyX = 1.2 : this.warrantyX = 1;
                this.recalculateSum();
            },
            selectedSubject (value) {
                this.subjectX = parseFloat(value.knowledge_area.costX);
                this.recalculateSum();
            }
        },
        mounted () {
            let dp = $('.datepicker');
            dp.datepicker({format: 'dd/mm/yyyy',
                days: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                daysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                daysMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                weekStart: 1,
                startView: 0,
                yearFirst: false,
                yearSuffix: ''});
            dp.on('pick.datepicker', (event) => {
                this.date = moment(event.date).format('DD/MM/YYYY');
            });

            this.wtypes = this._work_types;
            this.subjects = this._subjects;
        }
    }
</script>