<template>
    <div class="social__entrant">
        <h4 class="social-entrant__title">Войдите с помощью учетной записи в социальных сетях</h4>
        <div class="d-flex mt-4 justify-content-center">
            <a href="#" @click="loginOAuth('vkontakte')" class="social__link social__link_vk"><i class="fa fa-vk"></i></a>
            <a href="#" @click="loginOAuth('facebook')" class="social__link social__link_fb"><i class="fa fa-facebook"></i></a>
            <a href="#" @click="loginOAuth('odnoklassniki')" class="social__link social__link_ig"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {};
        },
        props: [
            '_soc_login',
            '_soc_user'
        ],
        methods: {
            loginOAuth(provider) {
                let url = this._soc_login + '?provider='+provider;

                let size = this.calculateSize();

                let popup = window.open(url,'OAuth',`top=${size.top},left=${size.left}toolbar=0,width=${size.w},height=${size.h}`);

                //после получения OAuth-данных, дочернее окно отправит нам сообщение
                window.addEventListener('message',data => {
                    //Получаем параметры из ссылки в дочернем окне
                    if (popup.location.origin !== window.location.origin)
                        return;

                    this.getUserInfo(this._soc_user + popup.location.search + '&provider=' + provider);
                    popup.close();
                },popup);

            },
            getUserInfo(url) {
                axios.get(url)
                    .then(response => {
                        if (!!response.data.new) {
                            this.$store.commit('auth_set_user',response.data.user);
                            this.$store.commit('auth_go_register_form');
                        } else if (!!response.data.redirect) {
                            window.location.href = response.data.redirect;
                        } else {
                            //TODO: Error
                        }
                    }).catch(err => {
                    //TODO: Error
                });
            },
            calculateSize() {
                let dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
                let dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

                let width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
                let height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

                let w = 700;
                let h = 500;

                let left = ((width / 2) - (w / 2)) + dualScreenLeft;
                let top = ((height / 2) - (h / 2)) + dualScreenTop;

                return {
                    top: top,
                    left: left,
                    w: w,
                    h: h
                }
            }
        }

    }
</script>