
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-extra-bold: 'Lato', sans-serif;

$primary-color: #4285f4;
$button-border-radius: 8px;

$black-color: #141414;
$black2-color: #3a3a3a;
$black3-color: #202020;
$blue-color: #4285f4;
$promo-header-background-color: #f3f7ff;
$calculator-section-background-color: #FCFCFE;
$footer-section-background-color: #f2f2f2;
$footer-section-color: #979797;
$main-section-background-color: #fbfbfd;
$subcard-background-color: #F1F1F1;

$text-color: #494949;
$label-color: #474747;
$text-light-color: #787878;
$muted-color: #c2c1c1;
$question-background: #e1eafd;
$rates-color: #FFC850;
$positive-color: #498C6A;
$negative-color: #A64663;

$border-radius-roundness: 3px;
$border-color: #ededed;
$border-dark-color: #D8D8D8;

$vk-color: #4c75a3;
$fb-color: #3b5998;
$ig-color: #5851db;

$blue2-color: #5F9DFF;
$blue-background-color: #E1EAFD;
$red-color-background: #FFAAC4;
$red-color: #A64663;
$green-color: #498C6A;
$green-background-color: #D8FEEA;
$red-light-color: #FF9292;
$orange-color: #A0651F;
$orange-background-color: #FFD8AA;
$gray-color: #616161;
$gray-background-color: #EDEDED;

$error-color: #FF9292;