// Variables
@import "v1/variables";
// Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import '../../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../../node_modules/bootstrap/scss/utilities';
@import '../../../../node_modules/bootstrap/scss/alert';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@media (max-width: 768px){
  .container{
    width: 100%;
    max-width: 100%;
    //padding: 0 56px;
  }
}

@import 'parts/elements/buttons';
@import 'parts/landing/header';
@import 'parts/landing/section_promo';
@import 'parts/elements/inputs';
@import 'parts/landing/section_calculator';
@import 'parts/elements/utilities';
@import 'parts/landing/pros';
@import 'parts/landing/footer';
@import 'parts/landing/modals';
@import 'parts/elements/scrollbar';
@import 'parts/landing/notifications';

a{
  transition: .2s ease;
  &:hover{
    text-decoration: none;
  }
}

.main__content{
  padding: 55px 0;
  background-color: $main-section-background-color;
}

.page-title{
  font-size: 40px;
  color: $black-color;
  font-weight: 900;
  display: block;
  text-align: center;
  margin-bottom: 19px;
}

.page__title-container{
  margin-bottom: 50px;
}

.response__block{
  margin-right: 80px;
  font-size: 16px;
  line-height: 23px;
  &:last-child{
    margin-right: 0;
  }
}

.part__title{
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1;
}

.response__profile{
  display: flex;
}

.profile-info__name{
  color: $black-color;
  font-weight: 700;
  margin-bottom: 2px;
}

.response__image{
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  & img{
    width: 40px;
    object-fit: cover;
  }
}

.rates{
  display: block;
  white-space: nowrap;
  color: $rates-color;
  font-size: 14px;
}

.response__commentary{
  color: $text-light-color;
  margin-bottom: 10px;
  max-width: 420px;
}

.response__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.works__amount{
  font-size: 16px;
  line-height: 1;
  color: $text-light-color;
  & span{
    color: $black-color;
  }
}

.ratings{
  display: flex;
  & .positive{
    margin-right: 20px;
    color: $positive-color;
  }

  & .negative{
    color: $negative-color;
  }
}

.respond__divider{
  color: $text-light-color;
  margin-top: 30px;
}

.respond__response{
  margin-top: 30px;
}

.response__title{
  margin-bottom: 10px;
  font-size: 14px;
  color: $text-color;
}

.response__textarea{
  font-size: 16px;
  line-height: 19px;
  min-height: 124px;
}

.response__send{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.attachment{
  display: block;
  position: relative;
  & input[type="file"]{
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  & label{
    display: block;
    border-radius: $border-radius-roundness;
    background-color: $border-color;
    padding: 12px 25px;
    cursor: pointer;
  }
}

.cost{
  position: absolute;
  right: 25px;
  top: 18px;
  border-radius: $border-radius-roundness;
  background-color: $blue-background-color;
  color: $blue2-color;
  padding: 5px 15px;
}

.card__hide{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid $border-color;
}

.point{
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: $text-light-color;
  margin-bottom: 20px;

  &_red{
    color: $red-light-color;
    &:hover{
      color: $red-color;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }

  & a{
    color: $text-light-color;
    &:hover{
      color: $blue-color;
    }
  }
}

.point-icon{
  margin-right: 17px;
  height: 15px;
  width: 15px;
}

.order__block{
  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover{
    background-color: $subcard-background-color;
  }

  & .bordered__bottom{
    transition: .2s ease-in-out;
    //border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    flex-wrap: wrap;
  }
}



.order__subject-block{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.order__subject{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  color: $black-color;
  & a{
    color: $black-color;
    &:hover{
      color: $blue-color;
    }
  }
}

.order__deadline{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.15;
  color: $text-light-color;
}

.order__categories{
  max-width: 265px;
  color: $text-light-color;
  margin-top: 10px;
  & p{
    margin-bottom: 0;
  }

  &_long{
    max-width: none;
  }
}

.order__responds{
  font-size: 16px;
  display: flex;
  align-items: center;
  color: $text-light-color;
  margin-right: 30px;
  & span{
    font-size: 30px;
    font-weight: 900;
    color: $black-color;
    margin-right: 10px;
  }
}

.order__status{
  background-color: $red-color-background;
  color: $red-color;
  padding: 7px 15px;
  border-radius: $border-radius-roundness;
  display: block;
  align-self: center;

  &_green{
    color: $green_color;
    background-color: $green-background-color;
  }
}

.profile__image-block{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;

  & img{
    object-fit: cover;
    width: 80px;
    height: 80px;
  }
}

.profile__info-name{
  font-size: 20px;
  font-weight: 900;
  color: $black-color;
  margin-left: 15px;
}

.statistics{
  display: flex;
  align-items: center;
}

.statistics__amount{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
  &_green{
    background-color: $green-background-color;
    color: $green-color;
  }
  &_blue{
    background-color: $blue-background-color;
    color: $blue2-color;
  }
}

.statistics__description{
  color: $text-light-color;
}

.notifications__title{
  color: $text-color;
  font-size: 14px;
  padding: 0;
  margin-top: 20px;
}

.v-bar__wrapper{
  height: 290px;
}

.date{
  position: absolute;
  right: 25px;
  top: 23px;
  display: block;
  color: $text-light-color;
}

.o-card{
  height: 580px;
}

.search__button{
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  width: 45px;
  border: none;
  border-radius: $border-radius-roundness;
  cursor: pointer;
  color: $text-light-color;
}

.search__input{
  position: relative;
  & input{
    padding-right: 55px;
  }
}

.border-bottom{
  border-bottom: 1px solid $border-color;
}

.orders_wrap{
  height: 876px;
}

.subcard__info{
  color: $text-light-color;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.info__element{
  margin-right: 20px;
  & .fa, & .fa-icon{
    margin-right: 5px;
  }
}

.order__title{
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  color: $black2-color;
  font-weight: 700;
  & a{
    color: $black2-color;
    &:hover{
      color: $primary-color;
    }
  }
}

.cursor-pointer{
  cursor: pointer;
}

.response__documents{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  & a{
    margin-bottom: 10px;
  }
}

.hidden__info{
  max-height: 0;
  overflow: hidden;
  transition: .3s ease-in-out;
  margin-top: 0;
}

.hidden__info_open .hidden__info{
  max-height: 3000px;
  margin-top: 1.5rem;
}

.action-link{
  display: flex;
  align-items: center;
  color: $primary-color;
  &:hover{
    color: darken($primary-color, 5%);
  }

  & img{
    margin-right: 9px;
  }

  &_red{
    color: $error-color;

    & img{
      margin-right: 15px;
    }
    &:hover{
      color: $red-color;
    }
  }
}

.response-info{
  display: flex;
  & .info__child{
    display: flex;
    margin-bottom: 10px;
  }
}

.input-inline{
  position: relative;

  & button{
    width: 60px;
    height: 100%;
    background-color: transparent;
    border: none;
    border-left: 1px solid #EDEDED;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
  }
}

.profile-title{
  font-size: 20px;
  font-weight: 900;
  color: $black2-color;
  line-height: 24px;
  margin-bottom: 25px;
}

.profile-label{
  color: $label-color;
  margin-bottom: 10px;
}

.profile-information{
  color: $text-light-color;

  & p{
    max-width: 600px;
  }
}

.profile-info{
  margin-top: 35px;
}

.list_custom{
  margin: 0 0 0 12px;
  padding: 0;
  & li{
    list-style-type: none;
    &::before{
      content: '\2014';
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 6px;
    }
  }
}

.card-image_small{
  height: 23px;
  overflow: hidden;
  & img{
    height: 100%;
  }
}

.pagination{
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.modal {
  display: none;
  transition: transform .25s ease-out;
}

.modal[aria-hidden="false"]{
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal[aria-hidden="true"]{
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal.is-open {
  display: block;
}


@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}