.page__footer{
  background-color: $footer-section-background-color;
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer__description-block{
  width: 350px;
}

.footer__title{
  font-size: 22px;
  color: $black-color;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 15px;
  &_blue{
    color: $blue-color;
  }
}

.footer__description{
  font-size: 16px;
  line-height: 22px;
  color: $text-light-color;
}

.footer__nav{
  font-size: 16px;
}

.footer__list{
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.footer__list-item{
  font-size: 16px;
  color: $black2-color;
  margin-bottom: 14px;
  line-height: 1;
}

.footer__link{
  color: $black-color;
  font-size: 16px;
  transition: .2s ease-in-out;
  &:hover{
    color: $blue-color;
    text-decoration: none;
  }
}

.social__link{
  display: block;
  border-radius: 3px;
  cursor: pointer;
  width: 62px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 13px;
  margin-right: 10px;
  &:last-child{
    margin-right: 0;
  }

  &:hover{
    text-decoration: none;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .15);
    color: #fff;
  }

  &_vk{
    background-color: $vk-color;
  }
  &_fb{
    background-color: $fb-color;
  }
  &_ig{
    background-color: $ig-color;
  }
}

.page__last-footer{
  padding: 25px 0;
  color: $gray-900;
}

.accept__item{
  margin-right: 20px;
  line-height: 1;s
&:last-child{
  margin-right: 0;
}
}

.socials__title{
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: $black-color;
  margin-bottom: 20px;
}

.footer__accept{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.f5-logo{
  width: 25px;
  height: 25px;
}

.f5-name{
  text-transform: uppercase;
  margin-left: 10px;
}

.footer__copyright{
  line-height: 1;
  font-size: 16px;
}

@media (max-width: 768px){

  .footer__nav{
    display: none;
  }

  .footer__description{
    font-size: 14px;
    line-height: 22px;
  }

  .footer__title{
    font-size: 22px;
  }
}