.page__header{
  position: relative;
  display: flex;
  background-color: #fff;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logotype{
  display: block;
  font-size: 22px;
  color: $black-color;
  &_blue{
    color: $blue-color;
  }
  font-family: $font-extra-bold;
  font-weight: 900;
}

.header__menu-block{
  display: block;
}

.header__menu-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__list-item{
  text-transform: uppercase;
  margin-right: 35px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  vertical-align: bottom;
  margin-top: 4px; //FIX FOR NOT RIGHT PADDING

  &:last-child{
    margin-right: 0;
  }
}

.menu__link{
  color: $black2-color;
  transition: .13s ease-in-out color;
  &:hover, &:focus{
    text-decoration: none;
    color: $blue-color;
  }
}

.togglable__navigation{
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: .3s ease-in-out;
  border-top: 1px solid $border-color;
  z-index: 2;
  padding: 0 10px;

  & .header__menu{
    justify-content: center;
    flex-direction: column;
  }

  & .header__menu-list{
    transition: flex .8s ease;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  & .header__list-item{
    margin-right: 0;
  }

  & .header__list-item{
    padding: 20px 0;
  }
}

.togglr__button{
  box-shadow: none;
  border: none;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  outline: none;
  padding: 8px;
}

@media (max-width: 658px){
  body.menu-opened{
    & .togglable__navigation{
      max-height: 700px;

      & .header__menu-list{
        flex-direction: column;
        align-items: center;
      }

      & .header__list-item{
        display: block;
        padding: 20px 0;
        text-align: center;
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 658px) and (max-width: 992px){
  body.menu-opened{
    .togglable__navigation{
      max-height: 1000px;

      & .header__menu-list{
        flex-direction: row;
      }

      & .header__list-item{
        margin-right: 20px;
        &:last-child{
          margin-right: 0;
        }
      }
    }

    & .page__header{
      & .fa-close{
        display: block;
      }

      & .fa-bars{
        display: none;
      }
    }
  }
}

@media (max-width: 992px){
  .header__toggl-button{
    justify-self: flex-start;
  }

  .header__logotype{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__cta-button{
    justify-self: flex-end;
    & a{
      padding: 8px 30px;
    }
  }

  .page__header{
    & .fa-close{
      display: none;
    }
    & .fa-bars{
      display: block;
    }
  }

  body.menu-opened{
    .togglable__navigation{
      opacity: 1;
      height: auto;
    }
  }
}

.profile__image{
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;

  & img{
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.header__profile{
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.profile__info{
  font-size: 14px;
  color: $text-color;

  & p{
    margin-bottom: 0;
  }
}

.profile__name{
  font-size: 16px;
  line-height: 1;
  margin-bottom: 5px;
  color: $black-color;
}