.modal__container{
  opacity: 1;
  z-index: 999;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
}

.modal__card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix-width-card{
  width: 556px;
}

.card__title{
  font-size: 30px;
  font-weight: 900;
  line-height: 1.15;
  color: $black-color;
  margin-bottom: 0;

  &_small{
    font-size: 20px;
  }
}

.change-modal{
  line-height: 1;
  vertical-align: bottom;
  align-self: flex-end;
  margin-bottom: 3px;
}

.profile__type-button{
  border: 1px solid $border-color;
  background: none;
  box-shadow: none;
  border-radius: $border-radius-roundness;
  width: 100%;
  padding: 12px 0;
  cursor: pointer;
  transition: .3s ease;
  display: block;
  text-align: center;

  &:hover, input.profile-type__checkbox:checked + &{
    border-color: $blue-color;
  }

}

.profile__type{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 38px;
  font-size: 16px;

  & small{
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 5px;
  }
}

.profile__customer, .profile__executant{
  width: 50%;
}

@media (max-width: 576px){
  .profile__customer, .profile__executant{
    width: 100%;
    margin-top: 20px;
  }
  .modal__card{
    width: 100%;
  }
}

.profile-type__checkbox{
  appearance: none;
  margin: 0;
  padding: 0;
  display: none;
}

.form__divider, .respond__divider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::before, &::after{
    display: block;
    content: '';
    background-color: $border-color;
    height: 1px;
    flex: 1 1 auto;
  }
  & span{
    padding: 0 15px;
  }

  &_dark{
    color: $text-light-color;

    &::before, &::after{
      background-color: $border-dark-color;
    }
  }
}

.social__entrant{
  margin-top: 20px;
  text-align: center;

  & .social-entrant__title{
    font-size: 16px;
    color: $text-light-color;
    font-weight: 400;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.close__form{
  position: absolute;
  top: 0;
  right: -60px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 24px 0 rgba(217, 217, 217, 0.17);
  border: 1px solid rgba(217, 217, 217, 0.4);
}