.notifications{
  margin-top: 10px;
}

.notification{
  padding: 24px 0;
  border-bottom: 1px solid $border-color;
}

.notification__profile-image{
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  & img {
    width: 100%;
    height: 100%;
  }
}

.notification__profile-name{
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: $black-color;
}

.notification__type{
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  border-radius: $border-radius-roundness;
  padding: 7px 16px;

  &_green{
    color: $green-color;
    background-color: $green-background-color;
  }

  &_blue{
    color: $blue2-color;
    background-color: $blue-background-color;
  }

  &_gray{
    color: $gray-color;
    background-color: $gray-background-color;
  }

  &_orange{
    color: $orange-color;
    background-color: $gray-background-color;
  }

  &_red{
    color: $red-color;
    background-color: $red-color-background;
  }
}