.section__pros{
  margin-top: 100px;
  margin-bottom: 100px;
}

.pros-section__title-container{
  text-align: center;
}

.pros-section__title{
  font-size: 36px;
  margin-bottom: 19px;
  color: $black-color;
  font-weight: 900;
}

.pros__card{
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pros-section__subtitle{
  max-width: 640px;
  font-size: 16px;
  color: $text-light-color;
  line-height: 26px;
  margin: 0 auto 66px;
}

.pros__description{
  text-align: center;
}

.pros__description-text{
  color: $text-light-color;
  margin-top: 12px;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 0;
}

.pros__title{
  font-size: 16px;
  color: $black-color;
  margin-top: 25px;
  margin-bottom: 0;
}

.pros__icon{
  text-align: center;
}

@media (max-width: 767px){
  .pros-section__subtitle{
    max-width: 562px;
    padding: 0 15px;
  }
  .pros__card{
    flex-direction: row;
    justify-content: center;
  }

  .pros__icon{
    width: 148px;
    height: 110px;
    margin-right: 43px;
  }

  .pros__title{
    text-align: left;
  }

  .pros__description-text{
    text-align: left;
    max-width: 190px;
  }
}