
.section.section__promo{
  background-color: $promo-header-background-color;
  display: block;
  height: calc(100vh - 100px);
  min-height: 577px;
}

.section-promo__container {
  height: 100%;
  //width: 1200px;
  //display: flex;
  //margin: 0 auto;
  //justify-content: center;
  //align-items: center;
  & .row{
    margin: 0;
  }
}

.section-promo__image-container{
  & img{
    width: 100%;
  }
}

.promo__sign{
  display: block;
  text-align: left;
  color: $black2-color;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 12px;
}

.promo__title{
  font-size: 40px;
  font-weight: 900;
  line-height: 1.14;
  color: $black-color;
  max-width: 368px;
  margin-bottom: 20px;
}

.promo__description{
  font-size: 16px;
  line-height: 26px;
  color: $text-light-color;
  margin-bottom: 26px;
}

@media (max-width: 992px){
  .section.section__promo{
    height: auto;
    padding: 50px 0;
  }

  .section-promo__description{
    text-align: center;
    margin-bottom: 40px;
  }

  .promo__sign{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .promo__title{
    margin: 20px auto 20px;
  }
}