.section__calculator{
  background-color: $calculator-section-background-color;
  padding: 100px 0px;
}

.calculator__title, .summary__title{
  font-size: 30px;
  color: $black3-color;
  line-height: 1.2;
  max-width: 480px;
}

.summary__sum{
  font-size: 50px;
  font-weight: 900;
  color: $black3-color;
  margin-bottom: 0;
}

.calculator__title{
  margin-bottom: 40px;
}

.calculator__input_small{
  width: 30%;
}

.calculator__input-group{
  & input:first-child{
    margin-right: 8px;
  }
  & input:last-child{
    margin-left: 8px;
  }
  .input-divider{
    width: 20px;
    height: 2px;
    background-color: $border-color;
    align-self: center;
  }
}

.question-mark{
  display: inline-block;
  padding: 4px 7px;
  position: relative;
  border-radius: 50%;
  background-color: $question-background;
  z-index: 3;
  margin-left: 7px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  & .button{
    font-weight: 900;
  }

  &:hover{
    & .hidden__text{
      opacity: 1;
    }
  }

  & .hidden__text{
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(106%, -50%);
    min-width: 260px;
    background-color: $question-background;
    padding: 16px;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease-in-out;
    line-height: 1.25;
    font-size: 14px;
    color: $text-color;
    border-radius: $border-radius-roundness;
    box-shadow: rgba(217, 217, 217, 0.17);
    &::after{
      display: block;
      width: 0;
      height: 0;
      border-right: 13px solid $question-background;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -13px;
      z-index: 2;
    }
  }
}

.calculator__image-container{
  position: absolute;
  bottom: 0;
  right: 0;
}

.summary__inline{
  background-color: $promo-header-background-color;
  display: flex;
  height: 100%;

  & .summary__title{
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 1;
  }

  & .summary__sum{
    font-size: 30px;
  }
}

@media (min-width: 568px) and (max-width: 768px) {
  .form__container.container {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 768px){
  .question-mark{
    & .hidden__text{
      bottom: 0;
      right: auto;
      top: auto;
      left: 0;
      transform: translate(-46.5%, 115%);
      &:after{
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        border-right: 13px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid $question-background;
      }
    }
  }
}