.title-404{
  font-size: 30px;
  line-height: 36px;
  color: $gray-900;
  font-weight: 900;
  margin-bottom: 20px;
}

.description-404{
  max-width: 400px;
  font-size: 16px;
  line-height: 21px;
  color: $gray-500;
  margin-bottom: 20px;
}