.page-title{
  font-size: 40px;
  color: $gray-900;
  font-weight: 900;
  display: block;
  text-align: center;
  margin-bottom: 19px;
}

.page__title-container{
  padding-top: 50px;
  margin-bottom: 50px;
}

.breadcrumps{
  display: flex;
  justify-content: center;
  color: $gray-500;
  font-size: 16px;
}

.breadcrump__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrump__item{
  display: inline-block;
  margin-right: 6px;
  &::after{
    display: inline-block;
    content: '/';
    margin-left: 6px;
  }

  &:last-child{
    &:after{
      display: none;
    }
  }
}

.breadcrump__link{
  color: $gray-500;
  &:hover{
    color: $primary;
    text-decoration: none;
  }
}