.calculator__title, .summary__title{
  font-size: 30px;
  color: $gray-900;
  line-height: 1.2;
  max-width: 480px;
  margin-bottom: 40px;
  font-weight: 900;
  margin-left: 15px;
}

.summary__sum{
  font-size: 50px;
  font-weight: 900;
  color: $gray-900;
  margin-bottom: 0;
  margin-left: 15px;
}

.summary__inline{
  background-color: $gray-100;
  display: flex;
  height: 100%;

  & .summary__title{
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 1;
  }

  & .summary__sum{
    font-size: 30px;
  }
}

.calculator__image-container{
  position: absolute;
  bottom: 0;
  right: 0;
}

.section__calculator{
  background-color: #FBFBFD;
  padding: 100px 0px;
}

.z-1 {
  z-index: 1 !important;
}

.z-0{
  z-index: 0 !important;
}