.profile__image-block{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;

  & img{
    object-fit: cover;
    width: 80px;
    height: 80px;
  }
}

.profile__info-name{
  font-size: 20px;
  font-weight: 900;
  color: $gray-900;
  margin-left: 15px;
}

.profile-label{
  color: $gray-600;
  margin-bottom: 10px;
}

.profile-information{
  color: $gray-600;

  & p{
    max-width: 600px;
  }
}

.profile-info{
  margin-top: 35px;
}

.list_custom{
  margin: 0 0 0 12px;
  padding: 0;
  & li{
    list-style-type: none;
    &::before{
      content: '\2014';
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 6px;
    }
  }
}

.card-image_small{
  height: 23px;
  overflow: hidden;
  & img{
    height: 100%;
  }
}

.works__amount {
  font-size: 16px;
  line-height: 1;
  color: $gray-600;
  & span {
    color: $gray-900;
  }
}

.ratings{
  display: flex;
  & .positive{
    margin-right: 20px;
    color: $green;
  }

  & .negative{
    color: $red;
  }
}

.respond__divider{
  color: $gray-600;
  margin-top: 30px;
}

.response__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
