.form__divider, .respond__divider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::before, &::after{
    display: block;
    content: '';
    background-color: $border-color;
    height: 1px;
    flex: 1 1 auto;
  }
  & span{
    padding: 0 15px;
  }

  &_dark{
    color: $gray-700;

    &::before, &::after{
      background-color: $border-color;
    }
  }
}