.notifications{
  margin-top: 10px;
}

.notification{
  padding: 24px 0;
  border-bottom: 1px solid $border-color;
}

.notification__profile-name{
  margin-left: 10px;
  font-size: 15px;
  font-weight: normal;
  color: $gray-900;
}

.notification__type{
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  padding: 7px 16px;

  &_green{
    color: $green;
    background-color: rgba($green, 0.1);
  }

  &_blue{
    color: $blue;
    background-color: rgba($blue, 0.1);
  }

  &_gray{
    color: $gray-600;
    background-color: $gray-100;
  }

  &_orange{
    color: $orange;
    background-color: rgba($orange, 0.1);
  }

  &_red{
    color: $red;
    background-color: rgba($red, 0.1);
  }
}