.order__title{
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  color: $gray-900;
  font-weight: 700;
  & a{
    color: $gray-900;
    &:hover{
      color: $primary;
    }
  }
}

.cost{
  border-radius: 3px;
  background-color: $light-blue-bg;
  color: $primary;
  padding: 5px 15px;
  font-size: 16px;
  display: block;
  width: auto;

  &.absolute{
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.order__categories{
  max-width: 265px;
  color: $gray-500;
  margin-top: 10px;
  & p{
    margin-bottom: 0;
  }

  &_long{
    max-width: none;
  }
}

.response__send{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 15px;
}

.attachment{
  display: block;
  position: relative;
  & input[type="file"]{
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  & label{
    display: block;
    border-radius: 3px;
    background-color: $gray-200;
    padding: 12px 25px;
    cursor: pointer;
  }

  &-input label{
    padding: 8px 25px;
    display: block;
  }
}