.rounded-icon{
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color: $light-blue-bg;
  border-radius: 50%;
  overflow: hidden;
}