.point{
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: $gray-600;
  margin-bottom: 20px;

  &_red{
    color: $red;
    &:hover{
      color: $red;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }

  & a{
    color: $gray-600;
    &:hover{
      color: $primary;
    }
  }
}

.point-icon{
  margin-right: 17px;
  height: 15px;
  width: 15px;
  & img{
    max-width: none;
  }
}