.statistics{
  display: flex;
  align-items: center;
}

.statistics__amount{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
  &_green{
    background-color: rgba($green, 0.1);
    color: $green;
  }
  &_blue{
    background-color: rgba($primary, 0.1);
    color: $primary;
  }
}

.statistics__description{
  color: $gray-500;
}