.card__subcard{
  margin: 0 15px 15px;
  background-color: $gray-100;
  padding: 25px;
  position: relative;
  border-radius: 8px;
  &_no-background{
    background-color: transparent;
  }
}

.card__subtitle{
  font-size: 16px;
  color: $gray-900;
  font-weight: 700;
  line-height: 19px;
}

.subcard__info{
  color: $gray-600;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}