.nav-link_header{
  font-weight: 500;
  color: $gray-900;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-size: 14px;

  &:hover{
    color: $primary;
  }
}

.btn_header{
  padding: 8px 12px;
}

