.question-mark{
  display: inline-block;
  padding: 4px 7px;
  position: relative;
  border-radius: 50%;
  background-color: $light-blue-bg;
  z-index: 3;
  margin-left: 7px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  & .button{
    font-weight: 900;
  }

  &:hover{
    & .hidden__text{
      opacity: 1;
    }
  }

  & .hidden__text{
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(106%, -50%);
    min-width: 260px;
    background-color: $light-blue-bg;
    padding: 16px;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease-in-out;
    line-height: 1.25;
    font-size: 14px;
    color: $gray-900;
    border-radius: 3px;
    box-shadow: rgba(217, 217, 217, 0.17);
    &::after{
      display: block;
      width: 0;
      height: 0;
      border-right: 13px solid $light-blue-bg;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -13px;
      z-index: 2;
    }
  }
}

@media (max-width: 768px){
  .question-mark{
    & .hidden__text{
      bottom: 0;
      right: auto;
      top: auto;
      left: 0;
      transform: translate(-46.5%, 115%);
      &:after{
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        border-right: 13px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid $light-blue-bg;
      }
    }
  }
}